$primary_accent: #C37A67 !default;
$secondary_accent: #F7F3E8 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #C37A67 !default;
$primary_hover: #F7F3E8 !default;